body {
background-color: rgb(150, 150, 202);
}

.exsample {
    top:5%;
}

.exsample1 {
    top: 28%;
}

.exsample2 {
    top: 16%;
}

.exsample3 {
    top: 24%;
}

.exsample4 {
    top: 32%;
}

.exsample5 {
    top: 40%;
}

.exsample6 {
    top: 48%;
}

.exsample,
.exsample3,
.exsample4,
.exsample5,
.exsample6 {
    position: absolute;
    left: 50%;
    width: 20%;
    height: 130px;
    background-color: rgb(138, 212, 212);
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 10px;
    font-size: x-large;
    margin-top: 5px;
    text-align: center;
}


.exsample1 {
    position: relative;
    left:  30%;
    top: 150px;
    width: 30%;
    height: 300px;
    background-color:  rgba(227, 214, 197, 0.664);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    margin-top: 5px;
    text-align: left;
}

.exsample2 {
    position: absolute;
    top: 0;
    right: 5%;
    width: 25%;
    height: 110px;
    background-color: rgb(138, 212, 212);
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: x-large;
    margin-top: 15px;
    text-align: left;
}

label {
    display: block;
}


.dropbtn {
    background-color: #86939c;
    color: white;
    padding: 3px;
    font-size: medium;
    border: solid 1px white;
    cursor: pointer;
  }


  .dropbtn:hover, .dropbtn:focus {
    background-color: #4faaeb;
    color: aqua;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  } 

 /*  .nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
  } 
 */

  .dropdown-content {
    display: none;
    position: absolute;
    top: 60Px;
    background-color:rgb(150, 150, 202);
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: inline-block;
  }

  .custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Choose a file';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1px 3px;
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 300;
    font-size: 7pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
   list-style: none;
}

a {
    text-decoration: none;
}

  .header {
    position: fixed;
    width: 100%;
    background-color: rgb(74, 80, 184);
}

.navbar {
   display: flex ;
   top: 200px;
   justify-content: space-between;
   align-items: center;
   height: 3rem;
}

.hamb {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s;
    background-color: #101010;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    font-size: 26px;
    font-weight: 400;
    color: #fff ;
    margin-right: 50px;
}

.nav_link:hover {
    text-decoration: underline;
}

  .footer {
    box-shadow: 0 0 7px  rgba(48, 37, 121, 0.5);
    position: fixed;
    text-align: center;
    bottom:0;
    width: 100%;
    height: 10%;
    font-size: 12px; 
}

.info-foot{
    right: 15%;
    bottom: 10%;
    padding: 0px;
}
.social-links a {
    text-align: center;
    color: #282978;
    padding: 10px;
    padding-top: 40px;
    font-size: 14px;
}
  
