* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
   list-style: none;
}
a {
    text-decoration: none;
}

body {
    background-color: rgb(150, 150, 202);
}
.header {
    position: fixed;
    width: 100%;
    background-color: rgb(74, 80, 184);
}

.navbar {
   display: flex ;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
   padding-left: 4rem;
   padding-right: 4rem;


}

.hamb {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s;
    background-color: #101010;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    font-size: 26px;
    font-weight: 400;
    color: #fff ;
    margin-right: 50px;
}

.nav_link:hover {
    text-decoration: underline;
}



.footer {
    box-shadow: 0 0 7px  rgba(48, 37, 121, 0.5);
    position: absolute;
    text-align: center;
    bottom:0;
    width: 100%;
    font-size: 20px;;

}

.info-foot{
    right: 15%;
    bottom: 30px;
    padding: 20px;
}
.social-links a {
    text-align: center;
    color: #282978;
    padding: 15px;
    padding-top: 40px;
    font-size: 26px;
}
  
  /*-----------*/

  @media (min-width: 767px) {
    .menu_body {
        display: flex;
        align-items: center;
    }
    
    .menu_body {
        padding: 10px 0;
    }
  }

  @media only screen and (max-width: 768px)  {
        .nav_menu {
            position: fixed;
            flex-direction: column;
            width: 100%; 
            padding: 10px ;
            text-align: center;  
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(48, 37, 121, 0.5);
            left: -100%;
            top: 6rem;
        }

        .nav_menu.active {
            left: 0;
        }

        .nav_item {
            margin: 2,5rem 0;
            padding: 10px 0;
        }
        .bar {
            background-color: #fff;
        }

        .hamb {
            display: block;
            cursor: pointer;
        }
       
        .hamb.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamb.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamb.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
  }